In [1]:
import pandas as pd

Location = "titanic3.xls"
df = pd.read_excel(Location)
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [45]:
total_passagers = len(df)

total_boy = len(df[(df["sex"]=="male") & (df["age"] < 18)])
total_2nd = len(df[df["pclass"]== 2])
total_survived = len(df[df["survived"]== 1])

In [48]:
p_boy = total_boy/total_passagers
p_2nd = total_2nd/total_passagers
p_survived = total_survived/total_passagers

p_boy2ndsurvived = p_boy * p_2nd * p_survived

print(p_boy2ndsurvived)

0.005063428551157024

In [37]:
total_passagers = len(df)

total_women = len(df[(df["sex"]=="female") & (df["age"] > 18)])
total_3rd = len(df[df["pclass"]== 3])
total_survived = len(df[df["survived"]== 1])

In [49]:
p_women = total_women/total_passagers
p_3rd = total_3rd/total_passagers
p_survived = total_survived/total_passagers

p_women3rdsurvived = p_women * p_3rd * p_survived
print(p_women3rdsurvived)

0.04678310158756792

In [42]:
total_passagers = len(df)

total_men = len(df[(df["sex"]=="male") & (df["age"] > 18)])
total_1st = len(df[df["pclass"]== 1])
total_survived = len(df[df["survived"]== 1])

In [43]:
p_men = total_men/total_passagers
p_1st = total_1st/total_passagers
p_survived = total_survived/total_passagers

p_men1stsurvived = p_men * p_1st * p_survived
print(p_men1stsurvived)

0.04010594761236291

In [51]:
total_boy2ndsurvived = len(df[(df["sex"]=="male") & (df["survived"] == 1) & (df["age"] < 18) & (df["pclass"]== 2) ])

In [52]:
p_boy2ndsurvived = total_boy2ndsurvived/total_passagers
print(p_boy2ndsurvived)

0.008403361344537815

In [53]:
len(df[(df["sex"]=="male") & (df["age"] < 18) & (df["pclass"]== 2) ])

15

In [50]:
len(df[(df["sex"]=="male") & (df["survived"] == 1) & (df["age"] < 18) & (df["pclass"]== 2) ])

11

In [9]:
len(df)

1309

In [5]:
len(df[df["sex"]=="male"])

843

In [18]:
len(df[df["age"] < 18])

154

In [14]:
len(df[(df["sex"]=="male") & (df["age"] < 18)])

82

In [12]:
len(df[df["pclass"]== 2])

277

In [22]:
len(df[(df["sex"]=="male") & (df["age"] < 18) & (df["pclass"]== 2)])

15

In [15]:
len(df[df["survived"]== 1])

500

In [21]:
len(df[(df["sex"]=="male") & (df["survived"] == 1) & (df["age"] < 18) ])

31